

body{
  background-color: #333;
  font-family:'Press Start2P Regular','Nunito';
}
.canva_container{
  display: flex;
  justify-content: center;
  padding: 20px;
}
.canva_container > div{
  text-align: center;
  width: 100%;
}
#canva{
  font-family:'Press Start2P Regular','Nunito';
  background-color: #000;
}
.list-btn{
  list-style: none;
}
.list-btn:first-child{
  display: flex;
  flex-direction: column;

  display: flex;
}
.list-btn button{
  width: 100%;
  margin: auto;
}
.flex{
  display: flex;
}

@media (max-width: 600px) {
  .list-btn{
    padding: 0 650px;
  }
}