body{
  background-color: #333;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.canva_container{
  text-align: center;
  color: white;
}
#canva{
  background-color: #000;
}