

body{
  background-color: #333;
  font-family:'Press Start2P Regular','Nunito';
}
.canva_container{
  display: flex;
  justify-content: center;
  padding: 20px;
}
.canva_container > div{
  width: 550px;
}
#canva{
  font-family:'Press Start2P Regular','Nunito';
  background-color: #000;
}
.list-btn{
  list-style: none;
  padding: 0;

}